
  <form [formGroup]="form" > 

    <!-- THIS HERE OF MAIN ERRORS-->


    
        
        <!--Old Password-->
        <div class="form-group p-1">
            <label for="btn-old-password">Old Password</label>
            <input 
            formControlName="oldPassword"
            type="text" 
            class="form-control" 
            id="btn-old-password">

            <div *ngIf="oldPassword?.pending"> Pending ... </div>

            <!-- Validation messages-->
            <div class="alert alert-danger" *ngIf="oldPassword?.touched && !oldPassword?.valid && !oldPassword?.pending">

                <!-- sub messeges-->
                <div *ngIf="oldPassword?.errors?.['required']" > Old password is required! </div>
                <div *ngIf="oldPassword?.errors?.['shouldBeUnique']" > Old password already used! </div>
            </div>

        </div>

        <!--New Password-->
        <div class="form-group p-1">
            <label for="btn-new-password">New Password</label>
            <input
            formControlName="newPassword"            
            type="text"
            class="form-control"
            id="btn-new-password">

            <!-- Validation messages-->
            <div class="alert alert-danger" *ngIf="newPassword?.touched && !newPassword?.valid">

                <!-- sub messeges-->
                <div *ngIf="newPassword?.errors?.['required']" > New password is required! </div>
    
            </div>
        </div>

        <!--confirm Password-->
        <div class="form-group p-1"> 
            <label for="btn-confirm-password">Confirm Password </label>
            <input 
            formControlName="confirmPassword"  
            type="text" 
            class="form-control" 
            id="btn-confirm-password">

            <!-- Validation messages-->
            <div class="alert alert-danger" *ngIf="confirmPassword?.touched && !(confirmPassword?.valid)">

                <!-- sub messeges-->
                <div *ngIf="confirmPassword?.errors?.['required']" > Confirm password is required! </div>
            </div>


            <div *ngIf="confirmPassword?.valid && !form?.valid && form?.errors?.['passwordShouldMatch']" class="alert alert-danger">

                password do not match
            </div>


        </div>

        <!--change Password-->
        <button class="btn btn-primary p-1" type="submit">
            Change Password
        </button>

   

</form>


